<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>classpath:spring/application*.xml</param-value>
  </context-param>
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
   <servlet>
  	<servlet-name>springmvc</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/springmvc.xml</param-value>  	
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>springmvc</servlet-name>
  	<url-pattern>*.action</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <filter>  
  <filter-name>CharacterEncodingFilter</filter-name>  
  <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>  
  <init-param>  
    <param-name>encoding</param-name>  
    <param-value>utf-8</param-value>  
  </init-param>  
</filter>  
<filter-mapping>  
  <filter-name>CharacterEncodingFilter</filter-name>  
  <url-pattern>/*</url-pattern>  
</filter-mapping>  

  <filter>
  <filter-name>UserLoginFilter</filter-name>
  <filter-class>com.ssm.filter.UserLoginFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>UserLoginFilter</filter-name>
  <url-pattern>/jsp/user/check/*</url-pattern>
 </filter-mapping>
  
  <filter>
  <filter-name>CoachLoginFilter</filter-name>
  <filter-class>com.ssm.filter.CoachLoginFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>CoachLoginFilter</filter-name>
  <url-pattern>/jsp/coach/check/*</url-pattern>
 </filter-mapping>
 
 <filter>
  <filter-name>AdministratorLoginFilter</filter-name>
  <filter-class>com.ssm.filter.AdministratorLoginFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>AdministratorLoginFilter</filter-name>
  <url-pattern>/jsp/administrator/check/*</url-pattern>
 </filter-mapping>
  
</web-app>
